{% load account_tags %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{% url 'account:dashboard' %}" class="app-brand-link">
        <span class="app-brand-logo demo">
          <svg
            width="25"
            viewBox="0 0 25 42"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                <g id="Icon" transform="translate(27.000000, 15.000000)">
                  <g id="Mask" transform="translate(0.000000, 8.000000)">
                    <mask id="mask-2" fill="white">
                      <use xlink:href="#path-1"></use>
                    </mask>
                    <use fill="#fbaf32" xlink:href="#path-1"></use>
                    <g id="Path-3" mask="url(#mask-2)">
                      <use fill="#fbaf32" xlink:href="#path-3"></use>
                      <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-3"></use>
                    </g>
                    <g id="Path-4" mask="url(#mask-2)">
                      <use fill="#fbaf32" xlink:href="#path-4"></use>
                      <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-4"></use>
                    </g>
                  </g>
                  <g
                    id="Triangle"
                    transform="translate(19.000000, 11.000000) rotate(-300.000000) translate(-19.000000, -11.000000) "
                  >
                    <use fill="#fbaf32" xlink:href="#path-5"></use>
                    <use fill-opacity="0.2" fill="#FFFFFF" xlink:href="#path-5"></use>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </span>
        <span style="margin-left: -15px;" class="app-brand-text demo menu-text fw-bolder">پروفایل کاربری شما</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>
<fieldset disabled="disabled"></fieldset>
    <ul class="menu-inner py-1">
      {% aside_link request 'dashboard' 'داشبورد' 'menu-icon fa fa-home' %}
      {% aside_link request 'profile' ' پروفایل کاربری' 'menu-icon fa fa-user ' %}
      {% aside_link request 'address' 'آدرس شما' 'menu-icon tf-icons fa fa-location-dot' %}
      {% aside_link request 'cart_history' 'وضعیت سفارشات' 'menu-icon tf-icons fa fa-shopping-cart' %}
      {% aside_link request 'booked_tables' 'میز های رزرو شده' 'menu-icon tf-icons fa fa-utensils' %}
      {% aside_link request 'sended_contact_messages' 'پیام های پشتیبانی سایت' 'menu-icon tf-icons fa fa-message' %}
      <li class="menu-item">
        <a href="{% url 'logout' %}" class="menu-link">
          <i class="menu-icon tf-icons fa fa-right-from-bracket"></i>
          <div data-i18n="Analytics">خارج شدن از حساب کاربری</div>
        </a>
      </li>
    </ul>
  </aside>
  <!-- / Menu -->