{% extends "registration/login_base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block main %}
<div class="container-login100" style="background-image: url('{% static "registration/login/images/bg-01.jpg" %}');">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
		<form dir="rtl" class="login100-form validate-form" method="post">
			{% csrf_token %}
			<span class="login100-form-title p-b-37">
				صفحه ورود
			</span>

			<div class="wrap-input100 validate-input m-b-20">
				{{ form.username|add_class:"input100"|attr:"placeholder:نام کاربری" }}
				<span class="focus-input100"></span>
			</div>
			{% if form.username.errors %}
				<div class="error" style="width: 100%;text-align: start;margin-top: -15px;margin-bottom: 20px;margin-right: 10px;">
					{% for error in form.username.errors %}
						<span style="color: red;">{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}

			<div class="wrap-input100 validate-input m-b-25">
				{{ form.password|add_class:"input100"|attr:"placeholder: پسورد" }}
				<span class="focus-input100"></span>
			</div>
			{% if form.password.errors %}
				<div class="error" style="width: 100%;text-align: start;margin-top: -15px;margin-bottom: 20px;margin-right: 10px;">
					{% for error in form.password.errors %}
						<span style="color: red;">{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}

			<div class="container-login100-form-btn">
				<button class="login100-form-btn">
					ورود
				</button>
			</div>

			<div class="text-center p-t-57 p-b-20">
				<span class="txt1">
					یا با گوگل و فیسبوک وارد شوید
				</span>
			</div>

			<div class="flex-c p-b-112">
				<a href="{% url 'social:begin' 'google-oauth2' %}" class="login100-social-item">
					<img src="{% static 'registration/login/images/icons/icon-google.png' %}" alt="GOOGLE">
				</a>

				<a href="{% url 'social:begin' 'facebook' %}" class="login100-social-item">
					<img src="{% static 'registration/login/images/icons/icon-facebook.png' %}" alt="FACEBOOK">
				</a>
			</div>

			<div style="margin-bottom: 5px;" class="text-center">
				<a href="{% url 'password_reset' %}" class="txt2 hov1">
					آیا پسورد خود را فراموش کرده اید؟
				</a>
			</div>

			<div style="margin-bottom: 20px;" class="text-center">
				<a href="{% url 'account:signup' %}" class="txt2 hov1">
					اگر اکانتی ندارید همین الان ثبت نام بکنید
				</a>
			</div>
			<a href="{% url 'restaurant:home' %}" class="login100-form-btn">
				بازگشت به خانه
			</a>
		</form>

		
	</div>
</div>
{% endblock %}