{% extends "registration/base.html" %}
{% load gravatar %}
{% load widget_tweaks %}


{% block main %}
<div class="row mt-2">
    <div dir="rtl" class="col-md-12">
      <div class="card mb-4">
        <div class="card-body">
            <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                  {% if user.profile_picture %}
                      <img style="border-radius: 50%;" src="{{ user.profile_picture.url }}" alt="user-avatar" class="d-block" id="uploadedAvatar" width="80" height="80">
                  {% else %}
                      <img style="border-radius: 50%;" src="{% gravatar_url user.email 150 %}" alt="user-avatar" class="d-block" id="uploadedAvatar" width="80" height="80">
                  {% endif %}
                  <div style="height: 80px; width: 1000px; display: flex; flex-direction: column;">
                      <span>نام کاربری : {{ user.username }}</span>
                      <span>ایمیل : {{ user.email }}</span>
                      {% if user.address %}
                          <span>آدرس محل : {{ user.address }}</span>
                      {% else %}
                          <span>آدرس محل : شما آدرسی ثبت نکرده اید!</span>
                          <a style="font-size: 14px;" href="{% url 'account:address' %}">برای ثبت آدرس کلیک کنید</a>
                      {% endif %}
                  </div>
                  <div class="button-wrapper">
                  </div>
                </div>
              </div>
        <hr class="my-0">
        <div class="card-body">
            <form id="formAccountSettings" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                <div class="col-md-6">
                    <label class="mb-2" for="">{{ form.old_password.label }}</label>
                    {{ form.old_password|add_class:"form-control" }}
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 mt-5">
                        <label class="mb-2" for="">{{ form.new_password1.label }}</label>
                        {{ form.new_password1|add_class:"form-control" }}
                        {{ form.new_password1.help_text }}
                    </div>
                    <div class="col-md-6 mt-5">
                        <label class="mb-2" for="">{{ form.new_password2.label }}</label>
                        {{ form.new_password2|add_class:"form-control" }}
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-success me-2">تغییر پسورد</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}