{% extends "registration/base.html" %}
{% load gravatar %}


{% block main %}
<div class="row mt-2">
    <div dir="rtl" class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex align-items-start align-items-sm-center gap-4">
                {% if user.profile_picture %}
                    <img style="border-radius: 50%;" src="{{ user.profile_picture.url }}" alt="user-avatar" class="d-block" id="uploadedAvatar" width="80" height="80">
                {% else %}
                    <img style="border-radius: 50%;" src="{% gravatar_url user.email 150 %}" alt="user-avatar" class="d-block" id="uploadedAvatar" width="80" height="80">
                {% endif %}
                <div style="height: 80px; width: 1000px; display: flex; flex-direction: column;">
                    <span>نام کاربری : {{ user.username }}</span>
                    <span>ایمیل : {{ user.email }}</span>
                    {% if user.address %}
                        <span>آدرس محل : {{ user.address }}</span>
                    {% else %}
                        <span>آدرس محل : شما آدرسی ثبت نکرده اید!</span>
                        <a style="font-size: 14px;" href="{% url 'account:address' %}">برای ثبت آدرس کلیک کنید</a>
                    {% endif %}
                </div>
                <div class="button-wrapper">
                </div>
              </div>
            </div>
        </div>
        <strong style="font-size: 20px; background-color: #28a745;" class="badge text-center w-100">پسورد شما با موفقیت عوض شد</strong>
</div>
{% endblock %}