{% load i18n %}{% autoescape off %}

<div dir="rtl">
    {% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
    {% block reset_link %}
    لطفا برای ساخت یک پسورد جدید به <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">این لینک</a> کلیک کنید
    {% endblock %}
    {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
    
    {% translate "Thanks for using our site!" %}
    
    {% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
</div>

{% endautoescape %}
