{% extends "registration/login_base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block main %}
<div class="container-login100" style="background-image: url('{% static "registration/login/images/bg-01.jpg" %}');">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <div dir="rtl" class="login100-form validate-form">
            <span class="login100-form-title p-b-37">
                صفحه بازیابی رمز عبور
            </span>
                <div class="signup-success">
                    <span style="color: #4b2354;">پسورد شما با موفقیت عوض شد اکنون میتوانید با پسورد جدید <a href="{% url 'login' %}">وارد</a> شوید</span>
                </div>
            <a href="{% url 'restaurant:home' %}" class="login100-form-btn">
                بازگشت به خانه
            </a>
        </div>
    </div>
</div>
{% endblock %}