{% extends "registration/base.html" %}
{% load gravatar %}
{% load humanize %}


{% block main %}
<div class="row mt-2">
    <div dir="rtl" class="col-md-12">
        <div class="card mb-4">
            <div class="card-body">
              <div class="d-flex align-items-start align-items-sm-center gap-4">
                {% if user.profile_picture %}
                    <img style="border-radius: 50%;" src="{{ user.profile_picture.url }}" alt="user-avatar" class="d-block" id="uploadedAvatar" width="80" height="80">
                {% else %}
                    <img style="border-radius: 50%;" src="{% gravatar_url user.email 150 %}" alt="user-avatar" class="d-block" id="uploadedAvatar" width="80" height="80">
                {% endif %}
                <div style="height: 80px; width: 1000px; display: flex; flex-direction: column;">
                    <span>نام کاربری : {{ user.username }}</span>
                    <span>ایمیل : {{ user.email }}</span>
                    {% if user.address %}
                        <span>آدرس محل : {{ user.address }}</span>
                    {% else %}
                        <span>آدرس محل : شما آدرسی ثبت نکرده اید!</span>
                        <a style="font-size: 14px;" href="{% url 'account:address' %}">برای ثبت آدرس کلیک کنید</a>
                    {% endif %}
                </div>
                <div class="button-wrapper">
                </div>
              </div>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header">پیام های ارسال شده برای پشتیبانی:</h5>
            <div class="table-responsive text-nowrap">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>تاریخ</th>
                    <th>عنوان پیام</th>
                    <th>متن پیام</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    {% for contact_message in user.sended_contact_messages.all %}
                        <tr>
                            <th>{{ forloop.counter|ordinal }} پیام</th>
                            <td><strong>{{ contact_message.jcreated }}</strong></td>
                            <td><span>{{ contact_message.subject }}</span></td>
                            <td><span><p>{{ contact_message.message }}</p></span></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td><strong class="text-danger">شما فعلا هیچ پیامی را برای سایت ارسال نکرده اید! <a class="btn btn-dark" href="{% url 'restaurant:contact' %}">ارسال پیام برای پشتیبانی</a></strong></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <strong class="badge text-white m-2 p-2" style="background-color: #28a745; font-size: 13px;">کاربر عزیز هر پیامی که برای پشتیبانی بفرستید بررسی و
       در صورت نیاز با شما تماس گرفته میشود.
    </strong>
{% endblock %}