 <div class="footer-contact">
    <h2>راه های ارتباطی با ما</h2>
    <p style="width: 300px;"><i class="fa fa-map-marker-alt"></i>{{ site_setting.work_address }}</p>
    <p><i class="fa fa-phone-alt"></i>{{ site_setting.phone_number }}</p>
    <p style="width: 300px;"><i class="fa fa-envelope"></i>{{ site_setting.email_address }}</p>
    <div class="footer-social">
       <a href="{{ site_setting.twitter_address }}"><i class="fab fa-twitter"></i></a>
       <a href="{{ site_setting.youtube_address }}"><i class="fab fa-youtube"></i></a>
       <a href="{{ site_setting.instagram_address }}"><i class="fab fa-instagram"></i></a>
       <a class="mr-2" href="{{ site_setting.linkedin_address }}"><i class="fab fa-linkedin-in"></i></a>
    </div>
 </div>